    .hero {
      position: relative;
      height: 100vh;
      /* Full viewport en desktop */
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    .hero img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(20%);
    }

    /* Contenido del hero */
    .hero-content {
      position: relative;
      z-index: 5;
      text-align: center;
      padding: 0 1rem;
    }

    /* Ajustes para móviles */
    @media only screen and (max-width: 600px) {
      .hero {
        height: 60vh;
        /* Más pequeño en móviles */
      }

      .hero h1 {
        font-size: 2rem !important;
        /* Texto más pequeño */
      }

      .hero-content .btn-large {
        font-size: 0.9rem;
        padding: 0 1rem;
        margin: 0.3rem 0;
      }
    }

    @media only screen and (min-width: 601px) and (max-width: 992px) {
      .hero {
        height: 80vh;
        /* Ajuste tablet */
      }

      .hero h1 {
        font-size: 3rem !important;
      }
    }

    .section-title {
      font-weight: 700;
      color: #182f46;
    }

    .card-hover:hover {
      transform: translateY(-5px);
      transition: 0.3s ease;
    }

    .bg-banner {
      background: #182f46 !important;
    }


     .text-blue {
      color: #182f46 !important;
    }

    .text-black {
      color: #000 !important;
    }

    .container .no-margin {
      margin: 0px;
    }